target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
graphify-8/
notes/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Reference project (third-party, not part of this codebase) ###
graphify-8/

### Subagent-driven development scratch ###
.superpowers/
